In [1]:
import cv2

In [2]:
import easyocr

In [3]:
import pandas as pd

In [4]:
reader = easyocr.Reader(["es"], gpu=False)
image = cv2.imread("Prueba2-E14.png")

Using CPU. Note: This module is much faster with a GPU.

In [5]:
reader.readtext

In [6]:
result = reader.readtext(image, paragraph=False)

In [7]:
N = len(result)
numL = []
for i in range(N):
    numL.append(i)

print('result = ',result) 
print('\n')

# Organizaremos la presentación de los resultados
for i in range(len(result)):
    resultado=result[i]
    print(i,' - ',resultado)
    
for i in result[0][1]:
    
     print(i,end="")

result =  [([[602, 213], [996, 213], [996, 274], [602, 274]], '710409802010101', 0.7530387010996774), ([[1295, 222], [1436, 222], [1436, 273], [1295, 273]], 'Ver; 01', 0.9959063434602617), ([[1531, 226], [1697, 226], [1697, 277], [1531, 277]], '01 de 01', 0.9861938561693906), ([[554, 301], [1207, 301], [1207, 382], [554, 382]], 'ACTA DE ESCRUTINIO DE LOS', 0.802759235522057), ([[609, 374], [1147, 374], [1147, 454], [609, 454]], 'JURADOS DE VOTACIÓN', 0.9353882058448304), ([[1387, 348], [1579, 348], [1579, 425], [1387, 425]], 'E-14', 0.9983255863189697), ([[647, 454], [1135, 454], [1135, 545], [647, 545]], 'DELEGADOS', 0.9913871135815795), ([[564, 551], [1214, 551], [1214, 606], [564, 606]], 'ELECCIONES DE PRESIDENTE Y', 0.8429594259117673), ([[511, 596], [1257, 596], [1257, 656], [511, 656]], 'VICEPRESIDENTE DE LA REPÚBLICA', 0.8984902265363939), ([[645, 658], [1132, 658], [1132, 713], [645, 713]], '19 DE JUNIO DE 2022', 0.8941817248119077), ([[1302, 635], [1643, 635], [1643, 698], [1302, 698]], 'BEGISTRADuRÁA', 0.22207433834346363), ([[1323, 682], [1472, 682], [1472, 707], [1323, 707]], 'Voon D2', 0.06443487795390387), ([[1482, 687], [1634, 687], [1634, 706], [1482, 706]], 'looo:', 0.01160472701045215), ([[114, 768], [650, 768], [650, 830], [114, 830]], 'DEPARTAMENTO: 05', 0.9729741662133325), ([[679, 768], [924, 768], [924, 834], [679, 834]], 'BOLIVAR', 0.8635877012823967), ([[114, 841], [518, 841], [518, 907], [114, 907]], 'MUNICIPIO: 001', 0.9881528376743216), ([[550, 845], [890, 845], [890, 907], [550, 907]], 'CARTAGENA', 0.8186239904000576), ([[110, 914], [355, 914], [355, 979], [110, 979]], 'ZONA: 01', 0.9959152123290169), ([[371, 918], [984, 918], [984, 984], [371, 984]], 'PUESTO: 03 MESA: 002', 0.5996823712858088), ([[109, 990], [1211, 990], [1211, 1062], [109, 1062]], 'LUGAR: LUDOTECA PARQUE CENTENARIO', 0.9756870487590181), ([[490, 1089], [556, 1089], [556, 1159], [490, 1159]], 'X', 0.8892138497259481), ([[620, 1086], [1149, 1086], [1149, 1172], [620, 1172]], '4 - 6 4 - 0 7 - 1 4', 0.5538670127871295), ([[1205, 1093], [1270, 1093], [1270, 1168], [1205, 1168]], 'X', 0.9939049656824785), ([[589, 1205], [1180, 1205], [1180, 1270], [589, 1270]], 'NIVELACIÓN DE LA MESA', 0.7576149851328834), ([[222, 1304], [367, 1304], [367, 1355], [222, 1355]], 'TOTAL', 0.9981219293069474), ([[796, 1309], [939, 1309], [939, 1354], [796, 1354]], 'TOTAL', 0.9997882953432078), ([[1364, 1308], [1509, 1308], [1509, 1359], [1364, 1359]], 'TOTAL', 0.9995039704894972), ([[137, 1351], [457, 1351], [457, 1402], [137, 1402]], 'SUFRAGANTES', 0.998856331903504), ([[791, 1355], [944, 1355], [944, 1406], [791, 1406]], 'voTos', 0.15863824622758027), ([[1359, 1355], [1513, 1355], [1513, 1406], [1359, 1406]], 'voTOS', 0.42556099243452056), ([[137, 1398], [448, 1398], [448, 1449], [137, 1449]], 'FORMATO E-11', 0.9661998739921249), ([[739, 1402], [995, 1402], [995, 1453], [739, 1453]], 'EN LA URNA', 0.9766333224836309), ([[1287, 1402], [1586, 1402], [1586, 1453], [1287, 1453]], 'INCINERADOS', 0.9897846982895675), ([[112, 1489], [216, 1489], [216, 1580], [112, 1580]], '1', 0.9999827147277109), ([[244, 1484], [474, 1484], [474, 1581], [244, 1581]], '8 3', 0.5598533153533936), ([[679, 1478], [1052, 1478], [1052, 1591], [679, 1591]], '1 < 3', 0.31965407916287725), ([[1219, 1488], [1632, 1488], [1632, 1590], [1219, 1590]], 'K X %', 0.2368803683312417), ([[290, 1641], [590, 1641], [590, 1706], [290, 1706]], 'CANDIDATOS', 0.9979331732334196), ([[759, 1635], [1066, 1635], [1066, 1707], [759, 1707]], 'AGRUPACIÓN', 0.9995735908445135), ([[1315, 1640], [1558, 1640], [1558, 1712], [1315, 1712]], 'VOTACIÓN', 0.9989557123650762), ([[748, 1898], [799, 1898], [799, 1953], [748, 1953]], '1', 0.9902510992379234), ([[836, 1854], [1138, 1854], [1138, 1981], [836, 1981]], 'LIGA', 0.5641482861061448), ([[1238, 1961], [1596, 1961], [1596, 2088], [1238, 2088]], 'X 8 9', 0.27560945047656016), ([[417, 2110], [908, 2110], [908, 2182], [417, 2182]], 'RODOLFO HERNÁNDEZ', 0.8076602367939915), ([[448, 2197], [877, 2197], [877, 2262], [448, 2262]], 'MARELEN CASTILLO', 0.9954688655436861), ([[782, 2441], [1030, 2441], [1030, 2553], [782, 2553]], "I1' o", 0.02897582397838186), ([[97, 2534], [163, 2534], [163, 2621], [97, 2621]], '2', 0.8430592358411351), ([[1229, 2526], [1472, 2526], [1472, 2652], [1229, 2652]], 'X 9', 0.5624645352363586), ([[478, 2680], [847, 2680], [847, 2745], [478, 2745]], 'GUSTAVO PETRO', 0.9980433062327086), ([[395, 2751], [921, 2751], [921, 2828], [395, 2828]], 'FRANCIA MÁRQUEZ MINA', 0.8897171349251782), ([[345, 2906], [855, 2906], [855, 2972], [345, 2972]], 'VOTOS EN BLANCO', 0.5450528184798134), ([[405, 3052], [796, 3052], [796, 3117], [405, 3117]], 'VOTOS NULOS', 0.9231844445244275), ([[1216, 3020], [1503, 3020], [1503, 3157], [1216, 3157]], 'X *', 0.45896780490875244), ([[298, 3193], [907, 3193], [907, 3258], [298, 3258]], 'VOTOS NO MARCADOS', 0.8400147517979917), ([[1224, 3170], [1494, 3170], [1494, 3307], [1224, 3307]], '4 *', 0.3807641863822937), ([[285, 3364], [911, 3364], [911, 3429], [285, 3429]], 'TOTAL VOTOS DE LA MESA', 0.8167318719781855), ([[1233, 3328], [1618, 3328], [1618, 3465], [1233, 3465]], '1 8 3', 0.4089246031224716), ([[389, 3493], [1359, 3493], [1359, 3548], [389, 3548]], 'CQNSTANCIAS DE LOS JURADOS DE VOTACIÓN', 0.7218025348054127), ([[89, 4133], [650, 4133], [650, 4195], [89, 4195]], 'HUBO RECUENTO DE VOTOS', 0.9898136167654604), ([[774, 4139], [829, 4139], [829, 4189], [774, 4189]], 'SI', 0.9744404378688263), ([[893, 4139], [970, 4139], [970, 4189], [893, 4189]], 'NO', 0.4743185382020772), ([[90, 4258], [444, 4258], [444, 4313], [90, 4313]], 'SOLICITADO POR:', 0.986876986539652), ([[89, 4359], [599, 4359], [599, 4426], [89, 4426]], 'EN REPRESENTACIÓN DE:', 0.9861178762729694), ([[428, 4499], [584, 4499], [584, 4539], [428, 4539]], 'JURADO', 0.9984981751797195), ([[1236, 4499], [1426, 4499], [1426, 4543], [1236, 4543]], 'JURADO 2', 0.8865613010136606), ([[111, 4486], [602, 4486], [602, 4634], [111, 4634]], 'C-8la2ua', 0.02628798879876397), ([[1102, 4489], [1441, 4489], [1441, 4647], [1102, 4647]], 'Pesr', 0.027983862906694412), ([[83, 4692], [143, 4692], [143, 4722], [83, 4722]], 'C.C.', 0.4482079744338989), ([[175, 4639], [709, 4639], [709, 4741], [175, 4741]], '100483964 c', 0.19637660091735037), ([[890, 4687], [952, 4687], [952, 4727], [890, 4727]], 'C.c', 0.7620578761207294), ([[985, 4606], [1585, 4606], [1585, 4744], [985, 4744]], '(2 Ps.3 +&', 0.1541116873410134), ([[308, 4759], [619, 4759], [619, 4809], [308, 4809]], 'FIRMA JUJRADO 3:', 0.6423544655346567), ([[1117, 4764], [1422, 4764], [1422, 4804], [1117, 4804]], 'FIRMA JURADO 4', 0.9029572292221782), ([[939, 4804], [1155, 4804], [1155, 4927], [939, 4927]], 'Lio', 0.1958739963274105), ([[1201, 4805], [1539, 4805], [1539, 4913], [1201, 4913]], 'Rolozo)', 0.27659477028363244), ([[202, 4895], [690, 4895], [690, 5017], [202, 5017]], '21324', 0.20561513455481661), ([[890, 4956], [952, 4956], [952, 4992], [890, 4992]], 'C.c.', 0.2850862741470337), ([[1007, 4919], [1498, 4919], [1498, 5000], [1007, 5000]], 'A0p5193 327', 0.08027123122998348), ([[309, 5021], [618, 5021], [618, 5065], [309, 5065]], 'FIRMA JURADO 5;', 0.9913331689448515), ([[1116, 5024], [1419, 5024], [1419, 5075], [1116, 5075]], 'FIRMA JURADO 6.', 0.41791885079380986), ([[115, 5032], [607, 5032], [607, 5188], [115, 5188]], 'Mr c @ac', 0.4926071284476617), ([[956, 5044], [1547, 5044], [1547, 5190], [956, 5190]], 'Haynrls   Qerta', 0.034418584207758396), ([[78, 5204], [139, 5204], [139, 5249], [78, 5249]], 'C.c.', 0.2809256054880083), ([[184, 5169], [645, 5169], [645, 5271], [184, 5271]], '20q2444L10', 0.20138044770852254), ([[886, 5213], [952, 5213], [952, 5253], [886, 5253]], 'cc.', 0.67852383852005), ([[973, 5153], [1480, 5153], [1480, 5267], [973, 5267]], '1c02/90445', 0.18196485693976133), ([[172, 5333], [396, 5333], [396, 5369], [172, 5369]], 'No. Form; 40980', 0.6182910810752429), ([[777, 5331], [1031, 5331], [1031, 5392], [777, 5392]], 'KIT 40,980', 0.6904836051039895), ([[1382, 5333], [1542, 5333], [1542, 5377], [1382, 5377]], 'Civ39637', 0.9997024249089482), ([[1439.9074644389061, 221.10030797009324], [1539.6438395247856, 234.96356305806708], [1530.0925355610939, 286.89969202990676], [1431.3561604752144, 274.0364369419329]], 'Pag;', 0.9739386439323425)]


0  -  ([[602, 213], [996, 213], [996, 274], [602, 274]], '710409802010101', 0.7530387010996774)
1  -  ([[1295, 222], [1436, 222], [1436, 273], [1295, 273]], 'Ver; 01', 0.9959063434602617)
2  -  ([[1531, 226], [1697, 226], [1697, 277], [1531, 277]], '01 de 01', 0.9861938561693906)
3  -  ([[554, 301], [1207, 301], [1207, 382], [554, 382]], 'ACTA DE ESCRUTINIO DE LOS', 0.802759235522057)
4  -  ([[609, 374], [1147, 374], [1147, 454], [609, 454]], 'JURADOS DE VOTACIÓN', 0.9353882058448304)
5  -  ([[1387, 348], [1579, 348], [1579, 425], [1387, 425]], 'E-14', 0.9983255863189697)
6  -  ([[647, 454], [1135, 454], [1135, 545], [647, 545]], 'DELEGADOS', 0.9913871135815795)
7  -  ([[564, 551], [1214, 551], [1214, 606], [564, 606]], 'ELECCIONES DE PRESIDENTE Y', 0.8429594259117673)
8  -  ([[511, 596], [1257, 596], [1257, 656], [511, 656]], 'VICEPRESIDENTE DE LA REPÚBLICA', 0.8984902265363939)
9  -  ([[645, 658], [1132, 658], [1132, 713], [645, 713]], '19 DE JUNIO DE 2022', 0.8941817248119077)
10  -  ([[1302, 635], [1643, 635], [1643, 698], [1302, 698]], 'BEGISTRADuRÁA', 0.22207433834346363)
11  -  ([[1323, 682], [1472, 682], [1472, 707], [1323, 707]], 'Voon D2', 0.06443487795390387)
12  -  ([[1482, 687], [1634, 687], [1634, 706], [1482, 706]], 'looo:', 0.01160472701045215)
13  -  ([[114, 768], [650, 768], [650, 830], [114, 830]], 'DEPARTAMENTO: 05', 0.9729741662133325)
14  -  ([[679, 768], [924, 768], [924, 834], [679, 834]], 'BOLIVAR', 0.8635877012823967)
15  -  ([[114, 841], [518, 841], [518, 907], [114, 907]], 'MUNICIPIO: 001', 0.9881528376743216)
16  -  ([[550, 845], [890, 845], [890, 907], [550, 907]], 'CARTAGENA', 0.8186239904000576)
17  -  ([[110, 914], [355, 914], [355, 979], [110, 979]], 'ZONA: 01', 0.9959152123290169)
18  -  ([[371, 918], [984, 918], [984, 984], [371, 984]], 'PUESTO: 03 MESA: 002', 0.5996823712858088)
19  -  ([[109, 990], [1211, 990], [1211, 1062], [109, 1062]], 'LUGAR: LUDOTECA PARQUE CENTENARIO', 0.9756870487590181)
20  -  ([[490, 1089], [556, 1089], [556, 1159], [490, 1159]], 'X', 0.8892138497259481)
21  -  ([[620, 1086], [1149, 1086], [1149, 1172], [620, 1172]], '4 - 6 4 - 0 7 - 1 4', 0.5538670127871295)
22  -  ([[1205, 1093], [1270, 1093], [1270, 1168], [1205, 1168]], 'X', 0.9939049656824785)
23  -  ([[589, 1205], [1180, 1205], [1180, 1270], [589, 1270]], 'NIVELACIÓN DE LA MESA', 0.7576149851328834)
24  -  ([[222, 1304], [367, 1304], [367, 1355], [222, 1355]], 'TOTAL', 0.9981219293069474)
25  -  ([[796, 1309], [939, 1309], [939, 1354], [796, 1354]], 'TOTAL', 0.9997882953432078)
26  -  ([[1364, 1308], [1509, 1308], [1509, 1359], [1364, 1359]], 'TOTAL', 0.9995039704894972)
27  -  ([[137, 1351], [457, 1351], [457, 1402], [137, 1402]], 'SUFRAGANTES', 0.998856331903504)
28  -  ([[791, 1355], [944, 1355], [944, 1406], [791, 1406]], 'voTos', 0.15863824622758027)
29  -  ([[1359, 1355], [1513, 1355], [1513, 1406], [1359, 1406]], 'voTOS', 0.42556099243452056)
30  -  ([[137, 1398], [448, 1398], [448, 1449], [137, 1449]], 'FORMATO E-11', 0.9661998739921249)
31  -  ([[739, 1402], [995, 1402], [995, 1453], [739, 1453]], 'EN LA URNA', 0.9766333224836309)
32  -  ([[1287, 1402], [1586, 1402], [1586, 1453], [1287, 1453]], 'INCINERADOS', 0.9897846982895675)
33  -  ([[112, 1489], [216, 1489], [216, 1580], [112, 1580]], '1', 0.9999827147277109)
34  -  ([[244, 1484], [474, 1484], [474, 1581], [244, 1581]], '8 3', 0.5598533153533936)
35  -  ([[679, 1478], [1052, 1478], [1052, 1591], [679, 1591]], '1 < 3', 0.31965407916287725)
36  -  ([[1219, 1488], [1632, 1488], [1632, 1590], [1219, 1590]], 'K X %', 0.2368803683312417)
37  -  ([[290, 1641], [590, 1641], [590, 1706], [290, 1706]], 'CANDIDATOS', 0.9979331732334196)
38  -  ([[759, 1635], [1066, 1635], [1066, 1707], [759, 1707]], 'AGRUPACIÓN', 0.9995735908445135)
39  -  ([[1315, 1640], [1558, 1640], [1558, 1712], [1315, 1712]], 'VOTACIÓN', 0.9989557123650762)
40  -  ([[748, 1898], [799, 1898], [799, 1953], [748, 1953]], '1', 0.9902510992379234)
41  -  ([[836, 1854], [1138, 1854], [1138, 1981], [836, 1981]], 'LIGA', 0.5641482861061448)
42  -  ([[1238, 1961], [1596, 1961], [1596, 2088], [1238, 2088]], 'X 8 9', 0.27560945047656016)
43  -  ([[417, 2110], [908, 2110], [908, 2182], [417, 2182]], 'RODOLFO HERNÁNDEZ', 0.8076602367939915)
44  -  ([[448, 2197], [877, 2197], [877, 2262], [448, 2262]], 'MARELEN CASTILLO', 0.9954688655436861)
45  -  ([[782, 2441], [1030, 2441], [1030, 2553], [782, 2553]], "I1' o", 0.02897582397838186)
46  -  ([[97, 2534], [163, 2534], [163, 2621], [97, 2621]], '2', 0.8430592358411351)
47  -  ([[1229, 2526], [1472, 2526], [1472, 2652], [1229, 2652]], 'X 9', 0.5624645352363586)
48  -  ([[478, 2680], [847, 2680], [847, 2745], [478, 2745]], 'GUSTAVO PETRO', 0.9980433062327086)
49  -  ([[395, 2751], [921, 2751], [921, 2828], [395, 2828]], 'FRANCIA MÁRQUEZ MINA', 0.8897171349251782)
50  -  ([[345, 2906], [855, 2906], [855, 2972], [345, 2972]], 'VOTOS EN BLANCO', 0.5450528184798134)
51  -  ([[405, 3052], [796, 3052], [796, 3117], [405, 3117]], 'VOTOS NULOS', 0.9231844445244275)
52  -  ([[1216, 3020], [1503, 3020], [1503, 3157], [1216, 3157]], 'X *', 0.45896780490875244)
53  -  ([[298, 3193], [907, 3193], [907, 3258], [298, 3258]], 'VOTOS NO MARCADOS', 0.8400147517979917)
54  -  ([[1224, 3170], [1494, 3170], [1494, 3307], [1224, 3307]], '4 *', 0.3807641863822937)
55  -  ([[285, 3364], [911, 3364], [911, 3429], [285, 3429]], 'TOTAL VOTOS DE LA MESA', 0.8167318719781855)
56  -  ([[1233, 3328], [1618, 3328], [1618, 3465], [1233, 3465]], '1 8 3', 0.4089246031224716)
57  -  ([[389, 3493], [1359, 3493], [1359, 3548], [389, 3548]], 'CQNSTANCIAS DE LOS JURADOS DE VOTACIÓN', 0.7218025348054127)
58  -  ([[89, 4133], [650, 4133], [650, 4195], [89, 4195]], 'HUBO RECUENTO DE VOTOS', 0.9898136167654604)
59  -  ([[774, 4139], [829, 4139], [829, 4189], [774, 4189]], 'SI', 0.9744404378688263)
60  -  ([[893, 4139], [970, 4139], [970, 4189], [893, 4189]], 'NO', 0.4743185382020772)
61  -  ([[90, 4258], [444, 4258], [444, 4313], [90, 4313]], 'SOLICITADO POR:', 0.986876986539652)
62  -  ([[89, 4359], [599, 4359], [599, 4426], [89, 4426]], 'EN REPRESENTACIÓN DE:', 0.9861178762729694)
63  -  ([[428, 4499], [584, 4499], [584, 4539], [428, 4539]], 'JURADO', 0.9984981751797195)
64  -  ([[1236, 4499], [1426, 4499], [1426, 4543], [1236, 4543]], 'JURADO 2', 0.8865613010136606)
65  -  ([[111, 4486], [602, 4486], [602, 4634], [111, 4634]], 'C-8la2ua', 0.02628798879876397)
66  -  ([[1102, 4489], [1441, 4489], [1441, 4647], [1102, 4647]], 'Pesr', 0.027983862906694412)
67  -  ([[83, 4692], [143, 4692], [143, 4722], [83, 4722]], 'C.C.', 0.4482079744338989)
68  -  ([[175, 4639], [709, 4639], [709, 4741], [175, 4741]], '100483964 c', 0.19637660091735037)
69  -  ([[890, 4687], [952, 4687], [952, 4727], [890, 4727]], 'C.c', 0.7620578761207294)
70  -  ([[985, 4606], [1585, 4606], [1585, 4744], [985, 4744]], '(2 Ps.3 +&', 0.1541116873410134)
71  -  ([[308, 4759], [619, 4759], [619, 4809], [308, 4809]], 'FIRMA JUJRADO 3:', 0.6423544655346567)
72  -  ([[1117, 4764], [1422, 4764], [1422, 4804], [1117, 4804]], 'FIRMA JURADO 4', 0.9029572292221782)
73  -  ([[939, 4804], [1155, 4804], [1155, 4927], [939, 4927]], 'Lio', 0.1958739963274105)
74  -  ([[1201, 4805], [1539, 4805], [1539, 4913], [1201, 4913]], 'Rolozo)', 0.27659477028363244)
75  -  ([[202, 4895], [690, 4895], [690, 5017], [202, 5017]], '21324', 0.20561513455481661)
76  -  ([[890, 4956], [952, 4956], [952, 4992], [890, 4992]], 'C.c.', 0.2850862741470337)
77  -  ([[1007, 4919], [1498, 4919], [1498, 5000], [1007, 5000]], 'A0p5193 327', 0.08027123122998348)
78  -  ([[309, 5021], [618, 5021], [618, 5065], [309, 5065]], 'FIRMA JURADO 5;', 0.9913331689448515)
79  -  ([[1116, 5024], [1419, 5024], [1419, 5075], [1116, 5075]], 'FIRMA JURADO 6.', 0.41791885079380986)
80  -  ([[115, 5032], [607, 5032], [607, 5188], [115, 5188]], 'Mr c @ac', 0.4926071284476617)
81  -  ([[956, 5044], [1547, 5044], [1547, 5190], [956, 5190]], 'Haynrls   Qerta', 0.034418584207758396)
82  -  ([[78, 5204], [139, 5204], [139, 5249], [78, 5249]], 'C.c.', 0.2809256054880083)
83  -  ([[184, 5169], [645, 5169], [645, 5271], [184, 5271]], '20q2444L10', 0.20138044770852254)
84  -  ([[886, 5213], [952, 5213], [952, 5253], [886, 5253]], 'cc.', 0.67852383852005)
85  -  ([[973, 5153], [1480, 5153], [1480, 5267], [973, 5267]], '1c02/90445', 0.18196485693976133)
86  -  ([[172, 5333], [396, 5333], [396, 5369], [172, 5369]], 'No. Form; 40980', 0.6182910810752429)
87  -  ([[777, 5331], [1031, 5331], [1031, 5392], [777, 5392]], 'KIT 40,980', 0.6904836051039895)
88  -  ([[1382, 5333], [1542, 5333], [1542, 5377], [1382, 5377]], 'Civ39637', 0.9997024249089482)
89  -  ([[1439.9074644389061, 221.10030797009324], [1539.6438395247856, 234.96356305806708], [1530.0925355610939, 286.89969202990676], [1431.3561604752144, 274.0364369419329]], 'Pag;', 0.9739386439323425)
710409802010101

In [8]:
import pandas as pd

In [9]:
alfanumLL = result

In [10]:
df = pd.DataFrame(result)
df

,0,1,2
0,"[[602, 213], [996, 213], [996, 274], [602, 274]]",710409802010101,0.753039
1,"[[1295, 222], [1436, 222], [1436, 273], [1295,...",Ver; 01,0.995906
2,"[[1531, 226], [1697, 226], [1697, 277], [1531,...",01 de 01,0.986194
3,"[[554, 301], [1207, 301], [1207, 382], [554, 3...",ACTA DE ESCRUTINIO DE LOS,0.802759
4,"[[609, 374], [1147, 374], [1147, 454], [609, 4...",JURADOS DE VOTACIÓN,0.935388
...,...,...,...
85,"[[973, 5153], [1480, 5153], [1480, 5267], [973...",1c02/90445,0.181965
86,"[[172, 5333], [396, 5333], [396, 5369], [172, ...",No. Form; 40980,0.618291
87,"[[777, 5331], [1031, 5331], [1031, 5392], [777...","KIT 40,980",0.690484
88,"[[1382, 5333], [1542, 5333], [1542, 5377], [13...",Civ39637,0.999702
89,"[[1439.9074644389061, 221.10030797009324], [15...",Pag;,0.973939

In [11]:
df.iloc[:,0:2]
display(df)

,0,1,2
0,"[[602, 213], [996, 213], [996, 274], [602, 274]]",710409802010101,0.753039
1,"[[1295, 222], [1436, 222], [1436, 273], [1295,...",Ver; 01,0.995906
2,"[[1531, 226], [1697, 226], [1697, 277], [1531,...",01 de 01,0.986194
3,"[[554, 301], [1207, 301], [1207, 382], [554, 3...",ACTA DE ESCRUTINIO DE LOS,0.802759
4,"[[609, 374], [1147, 374], [1147, 454], [609, 4...",JURADOS DE VOTACIÓN,0.935388
...,...,...,...
85,"[[973, 5153], [1480, 5153], [1480, 5267], [973...",1c02/90445,0.181965
86,"[[172, 5333], [396, 5333], [396, 5369], [172, ...",No. Form; 40980,0.618291
87,"[[777, 5331], [1031, 5331], [1031, 5392], [777...","KIT 40,980",0.690484
88,"[[1382, 5333], [1542, 5333], [1542, 5377], [13...",Civ39637,0.999702
89,"[[1439.9074644389061, 221.10030797009324], [15...",Pag;,0.973939

In [12]:
df.head(15) # por instrucción salen los 15 primeros

,0,1,2
0,"[[602, 213], [996, 213], [996, 274], [602, 274]]",710409802010101,0.753039
1,"[[1295, 222], [1436, 222], [1436, 273], [1295,...",Ver; 01,0.995906
2,"[[1531, 226], [1697, 226], [1697, 277], [1531,...",01 de 01,0.986194
3,"[[554, 301], [1207, 301], [1207, 382], [554, 3...",ACTA DE ESCRUTINIO DE LOS,0.802759
4,"[[609, 374], [1147, 374], [1147, 454], [609, 4...",JURADOS DE VOTACIÓN,0.935388
5,"[[1387, 348], [1579, 348], [1579, 425], [1387,...",E-14,0.998326
6,"[[647, 454], [1135, 454], [1135, 545], [647, 5...",DELEGADOS,0.991387
7,"[[564, 551], [1214, 551], [1214, 606], [564, 6...",ELECCIONES DE PRESIDENTE Y,0.842959
8,"[[511, 596], [1257, 596], [1257, 656], [511, 6...",VICEPRESIDENTE DE LA REPÚBLICA,0.898490
9,"[[645, 658], [1132, 658], [1132, 713], [645, 7...",19 DE JUNIO DE 2022,0.894182
10,"[[1302, 635], [1643, 635], [1643, 698], [1302,...",BEGISTRADuRÁA,0.222074
11,"[[1323, 682], [1472, 682], [1472, 707], [1323,...",Voon D2,0.064435
12,"[[1482, 687], [1634, 687], [1634, 706], [1482,...",looo:,0.011605
13,"[[114, 768], [650, 768], [650, 830], [114, 830]]",DEPARTAMENTO: 05,0.972974
14,"[[679, 768], [924, 768], [924, 834], [679, 834]]",BOLIVAR,0.863588

In [13]:
df.drop(df.index[[1,2,7,8,9,10,11,12,20,22,23,24,25,26,27,28,29,36,37,38,39,40,41,44,49,52,57,58,59,60,61,62,63,64,65,66,67,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,89]])

,0,1,2
0,"[[602, 213], [996, 213], [996, 274], [602, 274]]",710409802010101,0.753039
3,"[[554, 301], [1207, 301], [1207, 382], [554, 3...",ACTA DE ESCRUTINIO DE LOS,0.802759
4,"[[609, 374], [1147, 374], [1147, 454], [609, 4...",JURADOS DE VOTACIÓN,0.935388
5,"[[1387, 348], [1579, 348], [1579, 425], [1387,...",E-14,0.998326
6,"[[647, 454], [1135, 454], [1135, 545], [647, 5...",DELEGADOS,0.991387
13,"[[114, 768], [650, 768], [650, 830], [114, 830]]",DEPARTAMENTO: 05,0.972974
14,"[[679, 768], [924, 768], [924, 834], [679, 834]]",BOLIVAR,0.863588
15,"[[114, 841], [518, 841], [518, 907], [114, 907]]",MUNICIPIO: 001,0.988153
16,"[[550, 845], [890, 845], [890, 907], [550, 907]]",CARTAGENA,0.818624
17,"[[110, 914], [355, 914], [355, 979], [110, 979]]",ZONA: 01,0.995915
18,"[[371, 918], [984, 918], [984, 984], [371, 984]]",PUESTO: 03 MESA: 002,0.599682
19,"[[109, 990], [1211, 990], [1211, 1062], [109, ...",LUGAR: LUDOTECA PARQUE CENTENARIO,0.975687
21,"[[620, 1086], [1149, 1086], [1149, 1172], [620...",4 - 6 4 - 0 7 - 1 4,0.553867
30,"[[137, 1398], [448, 1398], [448, 1449], [137, ...",FORMATO E-11,0.966200
31,"[[739, 1402], [995, 1402], [995, 1453], [739, ...",EN LA URNA,0.976633
32,"[[1287, 1402], [1586, 1402], [1586, 1453], [12...",INCINERADOS,0.989785
33,"[[112, 1489], [216, 1489], [216, 1580], [112, ...",1,0.999983
34,"[[244, 1484], [474, 1484], [474, 1581], [244, ...",8 3,0.559853
35,"[[679, 1478], [1052, 1478], [1052, 1591], [679...",1 < 3,0.319654
42,"[[1238, 1961], [1596, 1961], [1596, 2088], [12...",X 8 9,0.275609
43,"[[417, 2110], [908, 2110], [908, 2182], [417, ...",RODOLFO HERNÁNDEZ,0.807660
45,"[[782, 2441], [1030, 2441], [1030, 2553], [782...",I1' o,0.028976
46,"[[97, 2534], [163, 2534], [163, 2621], [97, 26...",2,0.843059
47,"[[1229, 2526], [1472, 2526], [1472, 2652], [12...",X 9,0.562465
48,"[[478, 2680], [847, 2680], [847, 2745], [478, ...",GUSTAVO PETRO,0.998043
50,"[[345, 2906], [855, 2906], [855, 2972], [345, ...",VOTOS EN BLANCO,0.545053
51,"[[405, 3052], [796, 3052], [796, 3117], [405, ...",VOTOS NULOS,0.923184
53,"[[298, 3193], [907, 3193], [907, 3258], [298, ...",VOTOS NO MARCADOS,0.840015
54,"[[1224, 3170], [1494, 3170], [1494, 3307], [12...",4 *,0.380764
55,"[[285, 3364], [911, 3364], [911, 3429], [285, ...",TOTAL VOTOS DE LA MESA,0.816732
56,"[[1233, 3328], [1618, 3328], [1618, 3465], [12...",1 8 3,0.408925
68,"[[175, 4639], [709, 4639], [709, 4741], [175, ...",100483964 c,0.196377
86,"[[172, 5333], [396, 5333], [396, 5369], [172, ...",No. Form; 40980,0.618291
87,"[[777, 5331], [1031, 5331], [1031, 5392], [777...","KIT 40,980",0.690484
88,"[[1382, 5333], [1542, 5333], [1542, 5377], [13...",Civ39637,0.999702

In [14]:
df2=df[[2]]
display(df2)

           2
0   0.753039
1   0.995906
2   0.986194
3   0.802759
4   0.935388
..       ...
85  0.181965
86  0.618291
87  0.690484
88  0.999702
89  0.973939

[90 rows x 1 columns]

In [15]:
df2=df[[1]]
display(df2)

                            1
0             710409802010101
1                     Ver; 01
2                    01 de 01
3   ACTA DE ESCRUTINIO DE LOS
4         JURADOS DE VOTACIÓN
..                        ...
85                 1c02/90445
86            No. Form; 40980
87                 KIT 40,980
88                   Civ39637
89                       Pag;

[90 rows x 1 columns]

In [16]:
df2=df[[0]]
display(df2)

                                                    0
0    [[602, 213], [996, 213], [996, 274], [602, 274]]
1   [[1295, 222], [1436, 222], [1436, 273], [1295,...
2   [[1531, 226], [1697, 226], [1697, 277], [1531,...
3   [[554, 301], [1207, 301], [1207, 382], [554, 3...
4   [[609, 374], [1147, 374], [1147, 454], [609, 4...
..                                                ...
85  [[973, 5153], [1480, 5153], [1480, 5267], [973...
86  [[172, 5333], [396, 5333], [396, 5369], [172, ...
87  [[777, 5331], [1031, 5331], [1031, 5392], [777...
88  [[1382, 5333], [1542, 5333], [1542, 5377], [13...
89  [[1439.9074644389061, 221.10030797009324], [15...

[90 rows x 1 columns]

In [17]:
df2.drop(df.index[[1,2,7,8,9,10,11,12,20,22,23,24,25,26,27,28,29,36,37,38,39,40,41,44,49,52,57,58,59,60,61,62,63,64,65,66,67,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,89]])

                                                    0
0    [[602, 213], [996, 213], [996, 274], [602, 274]]
3   [[554, 301], [1207, 301], [1207, 382], [554, 3...
4   [[609, 374], [1147, 374], [1147, 454], [609, 4...
5   [[1387, 348], [1579, 348], [1579, 425], [1387,...
6   [[647, 454], [1135, 454], [1135, 545], [647, 5...
13   [[114, 768], [650, 768], [650, 830], [114, 830]]
14   [[679, 768], [924, 768], [924, 834], [679, 834]]
15   [[114, 841], [518, 841], [518, 907], [114, 907]]
16   [[550, 845], [890, 845], [890, 907], [550, 907]]
17   [[110, 914], [355, 914], [355, 979], [110, 979]]
18   [[371, 918], [984, 918], [984, 984], [371, 984]]
19  [[109, 990], [1211, 990], [1211, 1062], [109, ...
21  [[620, 1086], [1149, 1086], [1149, 1172], [620...
30  [[137, 1398], [448, 1398], [448, 1449], [137, ...
31  [[739, 1402], [995, 1402], [995, 1453], [739, ...
32  [[1287, 1402], [1586, 1402], [1586, 1453], [12...
33  [[112, 1489], [216, 1489], [216, 1580], [112, ...
34  [[244, 1484], [474, 1484], [474, 1581], [244, ...
35  [[679, 1478], [1052, 1478], [1052, 1591], [679...
42  [[1238, 1961], [1596, 1961], [1596, 2088], [12...
43  [[417, 2110], [908, 2110], [908, 2182], [417, ...
45  [[782, 2441], [1030, 2441], [1030, 2553], [782...
46  [[97, 2534], [163, 2534], [163, 2621], [97, 26...
47  [[1229, 2526], [1472, 2526], [1472, 2652], [12...
48  [[478, 2680], [847, 2680], [847, 2745], [478, ...
50  [[345, 2906], [855, 2906], [855, 2972], [345, ...
51  [[405, 3052], [796, 3052], [796, 3117], [405, ...
53  [[298, 3193], [907, 3193], [907, 3258], [298, ...
54  [[1224, 3170], [1494, 3170], [1494, 3307], [12...
55  [[285, 3364], [911, 3364], [911, 3429], [285, ...
56  [[1233, 3328], [1618, 3328], [1618, 3465], [12...
68  [[175, 4639], [709, 4639], [709, 4741], [175, ...
86  [[172, 5333], [396, 5333], [396, 5369], [172, ...
87  [[777, 5331], [1031, 5331], [1031, 5392], [777...
88  [[1382, 5333], [1542, 5333], [1542, 5377], [13...

In [18]:
list(zip(range(2), [df2]))

[(0,
                                                      0
  0    [[602, 213], [996, 213], [996, 274], [602, 274]]
  1   [[1295, 222], [1436, 222], [1436, 273], [1295,...
  2   [[1531, 226], [1697, 226], [1697, 277], [1531,...
  3   [[554, 301], [1207, 301], [1207, 382], [554, 3...
  4   [[609, 374], [1147, 374], [1147, 454], [609, 4...
  ..                                                ...
  85  [[973, 5153], [1480, 5153], [1480, 5267], [973...
  86  [[172, 5333], [396, 5333], [396, 5369], [172, ...
  87  [[777, 5331], [1031, 5331], [1031, 5392], [777...
  88  [[1382, 5333], [1542, 5333], [1542, 5377], [13...
  89  [[1439.9074644389061, 221.10030797009324], [15...

  [90 rows x 1 columns])]

In [19]:
df3=df2.T

In [20]:
df2.shape

(90, 1)

In [21]:
df.index_col=2
display(df)

,0,1,2
0,"[[602, 213], [996, 213], [996, 274], [602, 274]]",710409802010101,0.753039
1,"[[1295, 222], [1436, 222], [1436, 273], [1295,...",Ver; 01,0.995906
2,"[[1531, 226], [1697, 226], [1697, 277], [1531,...",01 de 01,0.986194
3,"[[554, 301], [1207, 301], [1207, 382], [554, 3...",ACTA DE ESCRUTINIO DE LOS,0.802759
4,"[[609, 374], [1147, 374], [1147, 454], [609, 4...",JURADOS DE VOTACIÓN,0.935388
...,...,...,...
85,"[[973, 5153], [1480, 5153], [1480, 5267], [973...",1c02/90445,0.181965
86,"[[172, 5333], [396, 5333], [396, 5369], [172, ...",No. Form; 40980,0.618291
87,"[[777, 5331], [1031, 5331], [1031, 5392], [777...","KIT 40,980",0.690484
88,"[[1382, 5333], [1542, 5333], [1542, 5377], [13...",Civ39637,0.999702
89,"[[1439.9074644389061, 221.10030797009324], [15...",Pag;,0.973939

In [22]:
lista2 = [y for y in df  if type(y)==int or type(y)==float]
print(lista2)

[0, 1, 2]

In [23]:
df[[1]]

                            1
0             710409802010101
1                     Ver; 01
2                    01 de 01
3   ACTA DE ESCRUTINIO DE LOS
4         JURADOS DE VOTACIÓN
..                        ...
85                 1c02/90445
86            No. Form; 40980
87                 KIT 40,980
88                   Civ39637
89                       Pag;

[90 rows x 1 columns]

##TRANSPONER

In [24]:
df1=df.T

In [25]:
df1.shape

(3, 90)

In [26]:
print(df1)

                                                 0   \
0  [[602, 213], [996, 213], [996, 274], [602, 274]]
1                                   710409802010101
2                                          0.753039

                                                  1   \
0  [[1295, 222], [1436, 222], [1436, 273], [1295,...
1                                            Ver; 01
2                                           0.995906

                                                  2   \
0  [[1531, 226], [1697, 226], [1697, 277], [1531,...
1                                           01 de 01
2                                           0.986194

                                                  3   \
0  [[554, 301], [1207, 301], [1207, 382], [554, 3...
1                          ACTA DE ESCRUTINIO DE LOS
2                                           0.802759

                                                  4   \
0  [[609, 374], [1147, 374], [1147, 454], [609, 4...
1                                JURADOS DE VOTACIÓN
2                                           0.935388

                                                  5   \
0  [[1387, 348], [1579, 348], [1579, 425], [1387,...
1                                               E-14
2                                           0.998326

                                                  6   \
0  [[647, 454], [1135, 454], [1135, 545], [647, 5...
1                                          DELEGADOS
2                                           0.991387

                                                  7   \
0  [[564, 551], [1214, 551], [1214, 606], [564, 6...
1                         ELECCIONES DE PRESIDENTE Y
2                                           0.842959

                                                  8   \
0  [[511, 596], [1257, 596], [1257, 656], [511, 6...
1                     VICEPRESIDENTE DE LA REPÚBLICA
2                                            0.89849

                                                  9   ...  \
0  [[645, 658], [1132, 658], [1132, 713], [645, 7...  ...
1                                19 DE JUNIO DE 2022  ...
2                                           0.894182  ...

                                                  80  \
0  [[115, 5032], [607, 5032], [607, 5188], [115, ...
1                                           Mr c @ac
2                                           0.492607

                                                  81  \
0  [[956, 5044], [1547, 5044], [1547, 5190], [956...
1                                    Haynrls   Qerta
2                                           0.034419

                                                  82  \
0  [[78, 5204], [139, 5204], [139, 5249], [78, 52...
1                                               C.c.
2                                           0.280926

                                                  83  \
0  [[184, 5169], [645, 5169], [645, 5271], [184, ...
1                                         20q2444L10
2                                            0.20138

                                                  84  \
0  [[886, 5213], [952, 5213], [952, 5253], [886, ...
1                                                cc.
2                                           0.678524

                                                  85  \
0  [[973, 5153], [1480, 5153], [1480, 5267], [973...
1                                         1c02/90445
2                                           0.181965

                                                  86  \
0  [[172, 5333], [396, 5333], [396, 5369], [172, ...
1                                    No. Form; 40980
2                                           0.618291

                                                  87  \
0  [[777, 5331], [1031, 5331], [1031, 5392], [777...
1                                         KIT 40,980
2                                           0.690484

                                                  88  \
0  [[1382, 5333], [1542, 5333], [1542, 5377], [13...
1                                           Civ39637
2                                           0.999702

                                                  89
0  [[1439.9074644389061, 221.10030797009324], [15...
1                                               Pag;
2                                           0.973939

[3 rows x 90 columns]

Métodos para manipulación de listas
Method	Description
append()	Agrega un elemento al final de la lista
clear()	Remueve todo los elementos de la lista
copy()	Regresa una copia de la lista
count()	Regresa el número de elementos con el valor especificado
extend()	Agrega elementos de una lista (o cualquier iterable) al final de esta lista
index()	Regresa el índice del primer elemento con el valor especificado
insert()	Adiciona un elemento en la posición especificada
pop()	Remueve un elemento en la posición especificada y puede retornarlo si se hce una asignación
remove()	Remueve el item con este valor específico
reverse()	Invierte el orden de la lista
sort()	Ordena la lista

# Cargar el DataFrame

In [27]:
df_vacio = pd.DataFrame(columns=['Formulario',"Departamento 05","Municipio 001","Cartagena","ZONA","PUESTO","MESA","LUGAR","VOTOS LIGA","VOTOS PACTO","VOTOS BLANCO","TOTAL VOTOS"])

In [28]:
df_vacio

Empty DataFrame
Columns: [Formulario, Departamento 05, Municipio 001, Cartagena, ZONA, PUESTO, MESA, LUGAR, VOTOS LIGA, VOTOS PACTO, VOTOS BLANCO, TOTAL VOTOS]
Index: []

In [29]:
columns = ["Formulario","Departamento 05","Municipio 001","Cartagena","ZONA","PUESTO","MESA","LUGAR"]

In [30]:
Fila_1 = ["res[1]","res[14]","res[15]","res[16]","res[17]","res[18]","res[19]","res[20]"]

In [ ]:
for res in result:
     print("res:", res)
     pt0 = res[0][0]
     pt1 = res[0][1]
     pt2 = res[0][2]
     pt3 = res[0][3]
     cv2.rectangle(image, pt0, (pt1[0], pt1[1] - 23), (166, 56, 242), -1)
     cv2.putText(image, res[1], (pt0[0], pt0[1] -3), 2, 0.8, (255, 255, 255), 1)
     cv2.rectangle(image, pt0, pt2, (166, 56, 242), 2)
     cv2.circle(image, pt0, 2, (255, 0, 0), 2)
     cv2.circle(image, pt1, 2, (0, 255, 0), 2)
     cv2.circle(image, pt2, 2, (0, 0, 255), 2)
     cv2.circle(image, pt3, 2, (0, 255, 255), 2)    
     if res[2]> 0.6:  
        print(res)
     cv2.imshow("Image", image)
     cv2.waitKey(0)
     cv2.destroyAllWindows()

res: ([[602, 213], [996, 213], [996, 274], [602, 274]], '710409802010101', 0.7530387010996774)
([[602, 213], [996, 213], [996, 274], [602, 274]], '710409802010101', 0.7530387010996774)
res: ([[1295, 222], [1436, 222], [1436, 273], [1295, 273]], 'Ver; 01', 0.9959063434602617)
([[1295, 222], [1436, 222], [1436, 273], [1295, 273]], 'Ver; 01', 0.9959063434602617)
res: ([[1531, 226], [1697, 226], [1697, 277], [1531, 277]], '01 de 01', 0.9861938561693906)
([[1531, 226], [1697, 226], [1697, 277], [1531, 277]], '01 de 01', 0.9861938561693906)
res: ([[554, 301], [1207, 301], [1207, 382], [554, 382]], 'ACTA DE ESCRUTINIO DE LOS', 0.802759235522057)
([[554, 301], [1207, 301], [1207, 382], [554, 382]], 'ACTA DE ESCRUTINIO DE LOS', 0.802759235522057)
res: ([[609, 374], [1147, 374], [1147, 454], [609, 454]], 'JURADOS DE VOTACIÓN', 0.9353882058448304)
([[609, 374], [1147, 374], [1147, 454], [609, 454]], 'JURADOS DE VOTACIÓN', 0.9353882058448304)
res: ([[1387, 348], [1579, 348], [1579, 425], [1387, 425]], 'E-14', 0.9983255863189697)
([[1387, 348], [1579, 348], [1579, 425], [1387, 425]], 'E-14', 0.9983255863189697)
res: ([[647, 454], [1135, 454], [1135, 545], [647, 545]], 'DELEGADOS', 0.9913871135815795)
([[647, 454], [1135, 454], [1135, 545], [647, 545]], 'DELEGADOS', 0.9913871135815795)
res: ([[564, 551], [1214, 551], [1214, 606], [564, 606]], 'ELECCIONES DE PRESIDENTE Y', 0.8429594259117673)
([[564, 551], [1214, 551], [1214, 606], [564, 606]], 'ELECCIONES DE PRESIDENTE Y', 0.8429594259117673)
res: ([[511, 596], [1257, 596], [1257, 656], [511, 656]], 'VICEPRESIDENTE DE LA REPÚBLICA', 0.8984902265363939)
([[511, 596], [1257, 596], [1257, 656], [511, 656]], 'VICEPRESIDENTE DE LA REPÚBLICA', 0.8984902265363939)
res: ([[645, 658], [1132, 658], [1132, 713], [645, 713]], '19 DE JUNIO DE 2022', 0.8941817248119077)
([[645, 658], [1132, 658], [1132, 713], [645, 713]], '19 DE JUNIO DE 2022', 0.8941817248119077)
res: ([[1302, 635], [1643, 635], [1643, 698], [1302, 698]], 'BEGISTRADuRÁA', 0.22207433834346363)
res: ([[1323, 682], [1472, 682], [1472, 707], [1323, 707]], 'Voon D2', 0.06443487795390387)
res: ([[1482, 687], [1634, 687], [1634, 706], [1482, 706]], 'looo:', 0.01160472701045215)
res: ([[114, 768], [650, 768], [650, 830], [114, 830]], 'DEPARTAMENTO: 05', 0.9729741662133325)
([[114, 768], [650, 768], [650, 830], [114, 830]], 'DEPARTAMENTO: 05', 0.9729741662133325)
res: ([[679, 768], [924, 768], [924, 834], [679, 834]], 'BOLIVAR', 0.8635877012823967)
([[679, 768], [924, 768], [924, 834], [679, 834]], 'BOLIVAR', 0.8635877012823967)
res: ([[114, 841], [518, 841], [518, 907], [114, 907]], 'MUNICIPIO: 001', 0.9881528376743216)
([[114, 841], [518, 841], [518, 907], [114, 907]], 'MUNICIPIO: 001', 0.9881528376743216)
res: ([[550, 845], [890, 845], [890, 907], [550, 907]], 'CARTAGENA', 0.8186239904000576)
([[550, 845], [890, 845], [890, 907], [550, 907]], 'CARTAGENA', 0.8186239904000576)
res: ([[110, 914], [355, 914], [355, 979], [110, 979]], 'ZONA: 01', 0.9959152123290169)
([[110, 914], [355, 914], [355, 979], [110, 979]], 'ZONA: 01', 0.9959152123290169)
res: ([[371, 918], [984, 918], [984, 984], [371, 984]], 'PUESTO: 03 MESA: 002', 0.5996823712858088)
res: ([[109, 990], [1211, 990], [1211, 1062], [109, 1062]], 'LUGAR: LUDOTECA PARQUE CENTENARIO', 0.9756870487590181)
([[109, 990], [1211, 990], [1211, 1062], [109, 1062]], 'LUGAR: LUDOTECA PARQUE CENTENARIO', 0.9756870487590181)
res: ([[490, 1089], [556, 1089], [556, 1159], [490, 1159]], 'X', 0.8892138497259481)
([[490, 1089], [556, 1089], [556, 1159], [490, 1159]], 'X', 0.8892138497259481)
res: ([[620, 1086], [1149, 1086], [1149, 1172], [620, 1172]], '4 - 6 4 - 0 7 - 1 4', 0.5538670127871295)
res: ([[1205, 1093], [1270, 1093], [1270, 1168], [1205, 1168]], 'X', 0.9939049656824785)
([[1205, 1093], [1270, 1093], [1270, 1168], [1205, 1168]], 'X', 0.9939049656824785)
res: ([[589, 1205], [1180, 1205], [1180, 1270], [589, 1270]], 'NIVELACIÓN DE LA MESA', 0.7576149851328834)
([[589, 1205], [1180, 1205], [1180, 1270], [589, 1270]], 'NIVELACIÓN DE LA MESA', 0.7576149851328834)
res: ([[222, 1304], [367, 1304], [367, 1355], [222, 1355]], 'TOTAL', 0.9981219293069474)
([[222, 1304], [367, 1304], [367, 1355], [222, 1355]], 'TOTAL', 0.9981219293069474)
res: ([[796, 1309], [939, 1309], [939, 1354], [796, 1354]], 'TOTAL', 0.9997882953432078)
([[796, 1309], [939, 1309], [939, 1354], [796, 1354]], 'TOTAL', 0.9997882953432078)
res: ([[1364, 1308], [1509, 1308], [1509, 1359], [1364, 1359]], 'TOTAL', 0.9995039704894972)
([[1364, 1308], [1509, 1308], [1509, 1359], [1364, 1359]], 'TOTAL', 0.9995039704894972)
res: ([[137, 1351], [457, 1351], [457, 1402], [137, 1402]], 'SUFRAGANTES', 0.998856331903504)
([[137, 1351], [457, 1351], [457, 1402], [137, 1402]], 'SUFRAGANTES', 0.998856331903504)
res: ([[791, 1355], [944, 1355], [944, 1406], [791, 1406]], 'voTos', 0.15863824622758027)
res: ([[1359, 1355], [1513, 1355], [1513, 1406], [1359, 1406]], 'voTOS', 0.42556099243452056)
res: ([[137, 1398], [448, 1398], [448, 1449], [137, 1449]], 'FORMATO E-11', 0.9661998739921249)
([[137, 1398], [448, 1398], [448, 1449], [137, 1449]], 'FORMATO E-11', 0.9661998739921249)
res: ([[739, 1402], [995, 1402], [995, 1453], [739, 1453]], 'EN LA URNA', 0.9766333224836309)
([[739, 1402], [995, 1402], [995, 1453], [739, 1453]], 'EN LA URNA', 0.9766333224836309)
res: ([[1287, 1402], [1586, 1402], [1586, 1453], [1287, 1453]], 'INCINERADOS', 0.9897846982895675)
([[1287, 1402], [1586, 1402], [1586, 1453], [1287, 1453]], 'INCINERADOS', 0.9897846982895675)
res: ([[112, 1489], [216, 1489], [216, 1580], [112, 1580]], '1', 0.9999827147277109)
([[112, 1489], [216, 1489], [216, 1580], [112, 1580]], '1', 0.9999827147277109)
res: ([[244, 1484], [474, 1484], [474, 1581], [244, 1581]], '8 3', 0.5598533153533936)
res: ([[679, 1478], [1052, 1478], [1052, 1591], [679, 1591]], '1 < 3', 0.31965407916287725)
res: ([[1219, 1488], [1632, 1488], [1632, 1590], [1219, 1590]], 'K X %', 0.2368803683312417)
res: ([[290, 1641], [590, 1641], [590, 1706], [290, 1706]], 'CANDIDATOS', 0.9979331732334196)
([[290, 1641], [590, 1641], [590, 1706], [290, 1706]], 'CANDIDATOS', 0.9979331732334196)
res: ([[759, 1635], [1066, 1635], [1066, 1707], [759, 1707]], 'AGRUPACIÓN', 0.9995735908445135)
([[759, 1635], [1066, 1635], [1066, 1707], [759, 1707]], 'AGRUPACIÓN', 0.9995735908445135)
res: ([[1315, 1640], [1558, 1640], [1558, 1712], [1315, 1712]], 'VOTACIÓN', 0.9989557123650762)
([[1315, 1640], [1558, 1640], [1558, 1712], [1315, 1712]], 'VOTACIÓN', 0.9989557123650762)